{"filter":false,"title":"config.xml","tooltip":"/180416/testAJAX.1/config.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":16,"column":67},"end":{"row":16,"column":67},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1523862648309,"hash":"b2a8f745a7cacdd661cf8bd957a71865de018f4e"}