{"filter":false,"title":"config.xml","tooltip":"/oneTo25/config.xml","ace":{"folds":[],"scrolltop":294,"scrollleft":0,"selection":{"start":{"row":16,"column":18},"end":{"row":16,"column":18},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":5,"state":"meta.tag.punctuation.tag-open.xml","mode":"ace/mode/xml"},"cleansed":true},"hash":"d9ce34705ac8f13c55c1b3064574bc4022461fa4","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1524384753916}